<a href="{{ product.url }}"
  class="product-card x-border-[1px] x-border-[#e5e7eb] x-flex x-flex-col x-aspect-square x-min-w-[380px] md:x-w-auto md:x-min-w-fit x-font-myriad-pro"
>
  <div
    class="product-image x-relative x-h-full x-bg-cover x-bg-center"
  >
    <img src="{{ product.featured_image | image_url: width: 1000  }}" alt="{{ product.title }}" class="hover:x-scale-105 x-transition-transform x-duration-300">
  </div>
  <div
    class="product-details x-flex x-flex-col x-justify-center x-p-[16px] x-border-t-[1px] x-border-[#e5e7eb] x-bg-[#f9faf9]"
  >
    <div>{{ product.title }}</div>
    <div>{{ product.price | money }}</div>
  </div>
</a>

<style>
  .product-variant-carousel .flickity-viewport {
    width: 60%;
  }

  .product-variant-carousel .flickity-prev-next-button {
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }

  .product-variant-carousel .flickity-page-dots {
    display: none;
  }

  .flickity-prev-next-button.previous {
    left: 45px;
  }

  .flickity-prev-next-button.next {
    right: 45px;
  }

  .back-button {
    z-index: 1;
  }

  .variant-choice.color div {
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
    opacity: 1 !important;
    border: 1.5px solid transparent; /* Transparent border */
  }

  .variant-choice.color {
    min-width: 38px;
    min-height: 38px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid;
    border-color: transparent;
    margin-right: 16px;
    transition: border-color 0.3s ease-in-out;
  }

  .variant-choice.color:hover {
    border-color: rgb(59, 59, 59);
  }

  .variant-choice:not(.color) {
    border: rgb(43, 65, 25) 0.5px solid;
    color: rgb(43, 65, 25);
    padding: 8px 16px;
    margin-right: 16px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  .variant-choice:not(.color):hover {
    background-color: rgb(43, 65, 25);
    color: white;
  }

  .add-button.desktop {
    height: 0px;
    transition: height 0.5s ease-in-out;
    opacity: 0.8;
  }

  .add-button.mobile {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .variants {
    height: 0px;
    transition: height 0.5s;
    background-color: rgba(255, 255, 255, 0.8);
  }
</style>
