<style>
    .collection-c-1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url({{ 'collection-c-1.png' |  asset_img_url: '1480x986' }});
        background-size: 160%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .collection-c-2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url({{ 'collection-c-2.jpeg' |  asset_img_url: '1480x986' }});
        background-size: 100%;
        background-position: 50% 30%;
        background-repeat: no-repeat;
    }

    .collection-c-3 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url({{ 'collection-c-3.png' |  asset_img_url: '1480x986' }});
        background-size: 150%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .collection-c-4 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url({{ 'collection-c-4.jpeg' |  asset_img_url: '1480x986' }});
        background-size: 100%;
        background-position: 50% 30%;
        background-repeat: no-repeat;
    }

    .collection-c-5 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url({{ 'collection-c-5.png' |  asset_img_url: '1480x986' }});
        background-size: 145%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .collection-c-6 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url({{ 'collection-c-6.jpeg' |  asset_img_url: '1480x986' }});
        background-size: 100%;
        background-position: 50% 30%;
        background-repeat: no-repeat;
    }

    .btn-collection {
        color: #282828;
        font-family: 'Causten';
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 14px;
        line-height: 16.8px;
        border-radius: 6px;
    }

    @media (min-width: 768px) {
        .collection-c-1 {
            background-size: 160%;
            background-position: 50% 50%;
        }

        .collection-c-2 {
            background-size: 150%;
            background-position: 50% 30%;
        }

        .collection-c-3 {
            background-size: 227%;
            background-position: 50% 50%;
        }

        .collection-c-4 {
            background-size: 105%;
            background-position: 50% 50%;
        }

        .collection-c-5 {
            background-size: 156%;
            background-position: 50% 30%;
        }

        .collection-c-6 {
            background-size: 150%;
            background-position: 50% 30%;
        }
    }
</style>

<div class="x-bg-[#F6F0E4]">
    <div class="x-py-[64px] x-px-[25px] lg:x-p-[104px] x-max-w-[1440px] x-mx-auto">
        <div class="x-flex x-flex-col x-gap-[24px] lg:x-gap-[16px]">
            <div class="x-flex x-flex-col md:x-flex-row x-gap-[16px]">
                <div
                    class="collection-c-1 x-transition-all x-ease-in-out x-duration-300 x-h-[360px] x-min-[425px]:h-[360px] lg:x-h-[600px] md:x-w-1/2 x-rounded-2xl x-flex x-flex-col x-gap-[24px] x-px-[16px] x-justify-center x-items-center lg:x-min-w-[650px]">
                    <div class="x-text-center x-flex x-flex-col x-gap-[8px]">
                        <h1 class="x-font-semibold x-text-[28px] lg:x-text-[32px] lg:x-leading-10 x-text-white">Pane collection</h1>
                        <h2 class="x-hidden md:x-block x-text-[18px] x-leading-[24px] x-text-white">A bold, yet animated, sleepwear collection
                            reminiscent of the <br class="x-hidden lg:x-block"> window pane and steeped in color surprise.</h2>
                    </div>
                    <a href="#" class="x-bg-white btn-collection x-px-[24px] x-py-[20px] btn-shop">
                        SHOP COLLECTION
                    </a>
                </div>
                <div
                    class="collection-c-2 x-transition-all x-ease-in-out x-duration-300 x-h-[360px] x-min-[425px]:h-[360px] lg:x-h-[600px] md:x-w-1/2 x-rounded-2xl x-flex x-flex-col x-gap-[24px] lg:x-gap-[16px] x-px-[16px] x-justify-center x-items-center lg:x-w-full">
                    <div class="x-text-center x-flex x-flex-col x-gap-[8px]">
                        <h1 class="x-font-semibold x-text-[28px] lg:x-text-[32px] lg:x-leading-10 x-text-white">Tuft collection</h1>
                        <h2 class="x-hidden md:x-block x-text-[18px] x-leading-[24px] x-text-white">An iconic sleepwear collection,<br class="x-hidden lg:x-block">comprised of
                            wishflowers and pillow<br class="x-hidden lg:x-block">soft colors.</h2>
                    </div>
                    <a href="#" class="x-bg-white btn-collection x-px-[24px] x-py-[20px] btn-shop">
                        SHOP COLLECTION
                    </a>
                </div>
            </div>
            <div class="x-flex x-flex-col md:x-flex-row x-gap-[16px]">
                <div
                    class="collection-c-3 x-transition-all x-ease-in-out x-duration-300 x-h-[360px] x-min-[425px]:h-[360px] lg:x-h-[600px] md:x-w-1/2 x-rounded-2xl x-flex x-flex-col x-gap-[24px] lg:x-gap-[16px] x-px-[16px] x-justify-center x-items-center lg:x-w-full">
                    <div class="x-text-center x-flex x-flex-col x-gap-[8px]">
                        <h1 class="x-font-semibold x-text-[28px] lg:x-text-[32px] lg:x-leading-10 x-text-white">Blossom collection</h1>
                        <h2 class="x-hidden md:x-block x-text-[18px] x-leading-[24px] x-text-white">A feminine flow of garden fancies,<br class="x-hidden lg:x-block">sweetly
                            dotting our wearables in ribbed<br class="x-hidden lg:x-block"> and flat cotton.</h2>
                    </div>
                    <a href="#" class="x-bg-white btn-collection x-px-[24px] x-py-[20px] btn-shop">
                        SHOP COLLECTION
                    </a>
                </div>
                <div
                    class="collection-c-4 x-transition-all x-ease-in-out x-duration-300 x-h-[360px] x-min-[425px]:h-[360px] lg:x-h-[600px] md:x-w-1/2 x-rounded-2xl x-flex x-flex-col x-gap-[24px] lg:x-gap-[16px] x-px-[16px] x-justify-center x-items-center lg:x-min-w-[650px]">
                    <div class="x-text-center x-flex x-flex-col x-gap-[8px]">
                        <h1 class="x-font-semibold x-text-[28px] lg:x-text-[32px] lg:x-leading-10 x-text-white">Wildflower<br
                                class="md:x-hidden">
                            collection</h1>
                        <h2 class="x-hidden md:x-block x-text-[18px] x-leading-[24px] x-text-white">A soft whisper of color and texture, our
                            wildflower
                            sprigs<br class="x-hidden lg:x-block">fascinate every phase of infanthood for unisex wearables.</h2>
                    </div>
                    <a href="#" class="x-bg-white btn-collection x-px-[24px] x-py-[20px] btn-shop">
                        SHOP COLLECTION
                    </a>
                </div>
            </div>
            <div class="x-flex x-flex-col md:x-flex-row x-gap-[16px]">
                <div
                    class="collection-c-5 x-transition-all x-ease-in-out x-duration-300 x-h-[360px] x-min-[425px]:h-[360px] lg:x-h-[600px] md:x-w-1/2 x-rounded-2xl x-flex x-flex-col x-gap-[24px] lg:x-gap-[16px] x-px-[16px] x-justify-center x-items-center lg:x-min-w-[650px]">
                    <div class="x-text-center x-text-white x-flex x-flex-col x-gap-[8px]">
                        <h1 class="x-font-semibold x-text-[28px] lg:x-text-[32px] lg:x-leading-10 x-text-white">Foilage collection</h1>
                        <h2 class="x-hidden md:x-block x-text-[18px] x-leading-[24px] x-text-white">Our berry and brush toned play sets introduce
                            deeper hues with<br class="x-hidden lg:x-block">the very same iconic softness designed for little ones.</h2>
                    </div>
                    <a href="#" class="x-bg-white btn-collection x-px-[24px] x-py-[20px] btn-shop">
                        SHOP COLLECTION
                    </a>
                </div>
                <div
                    class="collection-c-6 x-transition-all x-ease-in-out x-duration-300 x-h-[360px] x-min-[425px]:h-[360px] lg:x-h-[600px] md:x-w-1/2 x-rounded-2xl x-flex x-flex-col x-gap-[24px] lg:x-gap-[16px] x-px-[16px] x-justify-center x-items-center lg:x-w-full">
                    <div class="x-text-center x-text-white x-flex x-flex-col x-gap-[8px]">
                        <h1 class="x-font-semibold x-text-[28px] lg:x-text-[32px] lg:x-leading-10 x-text-white">Fall collection</h1>
                        <h2 class="x-hidden md:x-block x-text-[18px] x-leading-[24px] x-text-white">An iconic sleepwear collection,<br class="x-hidden lg:x-block">comprised of
                            wishflowers and pillow<br class="x-hidden lg:x-block">soft colors.</h2>
                    </div>
                    <a href="#" class="x-bg-white btn-collection x-px-[24px] x-py-[20px] btn-shop">
                        SHOP COLLECTION
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
