
{{ 'tingle.css' | asset_url | stylesheet_tag }}
<script src="{{ 'tingle.js' | asset_url }}"></script>


<section class="x-max-w-[1280px] x-mx-auto">
        <div class="x-text-center md:x-text-start x-py-[20px] x-text-[12px]">
            {% include 'breadcrumbs' %}
        </div>
        <div class="x-flex x-flex-col md:x-flex-row x-gap-[16px]">

            <div class="x-w-full x-relative">
                <div class="x-flex x-flex-col x-gap-[10px] x-sticky x-top-[18px] x-pb-[18px]">
                    <div class="carousel-product">
                        <div class="carousel-cell" style="background-image: url({{ "400.svg" | asset_url }}); background-size:contain">
                            <button class="carousel-f-button">
                                +
                            </button>
                        </div>
                        <div class="carousel-cell" style="background-image: url({{ "400.svg" | asset_url }}); background-size:contain">
                            <button class="carousel-f-button">
                                +
                            </button>
                        </div>
                        <div class="carousel-cell" style="background-image: url({{ "400.svg" | asset_url }}); background-size:contain">
                            <button class="carousel-f-button">
                                +
                            </button>
                        </div>
                        <div class="carousel-cell" style="background-image: url({{ "400.svg" | asset_url }}); background-size:contain">
                            <button class="carousel-f-button">
                                +
                            </button>
                        </div>
                        <div class="carousel-cell" style="background-image: url({{ "400.svg" | asset_url }}); background-size:contain">
                            <button class="carousel-f-button">
                                +
                            </button>
                        </div>
                    </div>
                    <div class="carousel-nav md:x-block x-hidden">
                        <div class="carousel-cell" style="background-image: url({{ "400.svg" | asset_url }}); background-size:contain">&nbsp;</div>
                        <div class="carousel-cell" style="background-image: url({{ "400.svg" | asset_url }}); background-size:contain">&nbsp;</div>
                        <div class="carousel-cell" style="background-image: url({{ "400.svg" | asset_url }}); background-size:contain">&nbsp;</div>
                        <div class="carousel-cell" style="background-image: url({{ "400.svg" | asset_url }}); background-size:contain">&nbsp;</div>
                        <div class="carousel-cell" style="background-image: url({{ "400.svg" | asset_url }}); background-size:contain">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div class="x-flex x-flex-col x-gap-[16px] md:x-gap-[32px] x-w-full x-p-[18px] x-pt-[25px] md:x-pt-[0px]">
                <div class="x-flex x-flex-col x-gap-[10px]">
                    <div class="x-text-[18px] md:x-text-[20px] x-tracking-[0.6px]">{{ product.title }}</div>
                    <div class="x-flex md:x-flex-col x-justify-between">
                        <div class="x-text-[14px] md:x-text-[16px] x-tracking-[0.6px]"><span class="sub">{{ product.options_with_values.first.values.first }}</span>
                        </div>
                        <div class="x-text-[14px] md:x-text-[16px] md:x-pt-[32px] x-tracking-[0.6px]">15.00 USD</div>
                    </div>
                </div>

                {% for option in product.options_with_values %}
                    {% if option.name != "Color" %}
                        <div class="x-flex x-flex-col x-gap-[12px]">
                            <div class="x-flex x-flex-col x-gap-[10px]">
                                <div class="x-text-[14px] x-tracking-[0.4px]">
                                    {{ option.name }}
                                </div>
                                <div class="x-grid x-grid-cols-2 x-text-center x-gap-[10px]">
                                    {% for value in option.values %}
                                        <label>
                                    <input type="radio" name="size" class="swatch-input__hidden" value="{{ value }}" id="" {% if value == option.values.first %} checked {% endif %}/>
                                            <div class="text-variant">{{ value }}</div>
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div>
                                <button class="size-guide-btn x-text-[14px] x-underline x-tracking-[0.4px]">
                                    Size guide
                                </button>
                            </div>
                        </div>
                    {% else %}
                        <div class="x-py-[20px] x-pl-[6px]">
                            <div class="x-flex x-gap-[18px]">
                                {% for value in option.values %}
                                    <label>
                                        <input 
                                            type="radio" 
                                            name="variant-swatch" 
                                            class="swatch-input__hidden" 
                                            value="{{ value }}"
                                            data-self="{{ value }}" 
                                            {% if value == option.values.first %} 
                                                checked 
                                            {% endif %}
                                        />
                                        <div class="swatch-variant"
                                            style="background-color: rgb(94, 94, 94); background-image: url({{ value.swatch.image.src | image_url: width: 400 }}); background-position: 50% 50%;">&nbsp;
                                        </div>
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                <div>
                    Reviews (if available, else hide)
                </div>

                <div>
                    FREQUENTLY BOUGHT TOGETHER (CO-DEVELOPER TASK)
                </div>

                <div class="x-flex x-gap-[10px]">
                    <div class="x-inline-block">
                        <div
                            class="quantity-picker x-flex x-border-[1px] x-border-gray-300 x-gap-[12px] x-items-center x-justify-between">
                            <button
                                class="x-text-gray-500 x-text-[18px] x-flex x-items-center x-justify-center x-p-[16px]"
                                id="decrease">
                                <i class="bx bx-minus"></i>
                            </button>
                            <input type="text" disabled="true" id="quantity" value="1" readonly
                                class="x-text-center x-w-[30px] x-bg-transparent x-border-none x-outline-none">
                            <button
                                class="x-text-gray-500 x-text-[18px] x-flex x-items-center x-justify-center x-p-[16px]"
                                id="increase">
                                <i class="bx bx-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button class="x-bg-[#484f46] x-text-white x-py-[12px] x-flex-1 x-text-[14px]">
                        Add to Cart
                    </button>
                </div>

                <section>
                    {% if product.description %}
                        <div class="collapse product-details x-mt-[-1px]">
                            <input class="x-h-[0px] x-overflow-hidden x-absolute x-invisible" type="checkbox">
                            <div class="x-border-t-[1px] x-border-b-[1px]">
                                <div class="x-flex x-flex-row x-justify-between x-py-[20px] x-px-[8px] x-items-center">
                                    <div class="x-text-[14px]">Description</div>
                                    <div class="collapse-sign x-flex x-justify-center x-items-center x-w-[16px] x-h-[16px]">
                                        <div
                                            class="x-absolute x-bg-black x-h-[14px] x-w-[1px] x-transition-transform x-duration-500 x-ease-in-out">
                                            &nbsp;
                                        </div>
                                        <div class="x-absolute x-bg-black x-w-[14px] x-h-[1px]">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="collapse-content x-overflow-hidden x-transition-collapse x-duration-500 x-ease-in-out"
                                    style="height: 0px; margin: 0px 0px;">
                                    <div class="x-text-[12px]">
                                        <div class="x-pb-[16px] x-px-[8px]">
                                            {{ product.description }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if product.metafields.details.how_run %}
                        <div class="collapse product-details x-mt-[-1px]">
                            <input class="x-h-[0px] x-overflow-hidden x-absolute x-invisible" type="checkbox">
                            <div class="x-border-t-[1px] x-border-b-[1px]">
                                <div class="x-flex x-flex-row x-justify-between x-py-[20px] x-px-[8px] x-items-center">
                                    <div class="x-text-[14px]">How This Product Runs</div>
                                    <div class="collapse-sign x-flex x-justify-center x-items-center x-w-[16px] x-h-[16px]">
                                        <div
                                            class="x-absolute x-bg-black x-h-[14px] x-w-[1px] x-transition-transform x-duration-500 x-ease-in-out">
                                            &nbsp;
                                        </div>
                                        <div class="x-absolute x-bg-black x-w-[14px] x-h-[1px]">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="collapse-content x-overflow-hidden x-transition-collapse x-duration-500 x-ease-in-out"
                                    style="height: 0px; margin: 0px 0px;">
                                    <div class="x-text-[12px]">
                                        <div class="x-pb-[16px] x-px-[8px]">
                                            {{ product.metafields.details.how_run }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if product.metafields.details.fabric %}
                        <div class="collapse product-details x-mt-[-1px]">
                            <input class="x-h-[0px] x-overflow-hidden x-absolute x-invisible" type="checkbox">
                            <div class="x-border-t-[1px] x-border-b-[1px]">
                                <div class="x-flex x-flex-row x-justify-between x-py-[20px] x-px-[8px] x-items-center">
                                    <div class="x-text-[14px]">Fabric Details</div>
                                    <div class="collapse-sign x-flex x-justify-center x-items-center x-w-[16px] x-h-[16px]">
                                        <div
                                            class="x-absolute x-bg-black x-h-[14px] x-w-[1px] x-transition-transform x-duration-500 x-ease-in-out">
                                            &nbsp;
                                        </div>
                                        <div class="x-absolute x-bg-black x-w-[14px] x-h-[1px]">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="collapse-content x-overflow-hidden x-transition-collapse x-duration-500 x-ease-in-out"
                                    style="height: 0px; margin: 0px 0px;">
                                    <div class="x-text-[12px]">
                                        <div class="x-pb-[16px] x-px-[8px]">
                                            {{ product.metafields.details.fabric }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                </section>

            </div>
        </div>
    </section>

    <style>
        .carousel-product {
            background: #FAFAFA;
        }

        .carousel-product .flickity-page-dots {
            display: flex;
            flex-direction: row;
            bottom: -4px;
        }

        .carousel-product .flickity-page-dots .dot {
            height: 4px;
            width: 100%;
            margin: 0;
            border-radius: 0;
        }

        .carousel-product .carousel-cell {
            width: 100%;
            aspect-ratio: 1/1;
        }

        .carousel-product:not(.is-fullscreen) .carousel-f-button {
            position: absolute;
            bottom: 10px;
            left: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #333;
            color: white;
        }

        .carousel-product.is-fullscreen .carousel-f-button {
            display: none;
        }

        .carousel-product.is-fullscreen .flickity-viewport {
            height: 100% !important;
        }

        .carousel-product.is-fullscreen .flickity-slider {
            display: flex;
            align-items: center;
        }

        .carousel-product .flickity-fullscreen-button-view {
            display: none;
        }

        .carousel-product.is-fullscreen .carousel-cell {
            width: 100%;
        }

        .swatch-input__hidden {
            display: none;
        }

        .swatch-variant {
            width: 20px;
            height: 20px;
            border-radius: 100%;
            outline: white 0px solid;
            box-shadow: 0 0 0 0.5px gray;
            transition: box-shadow 0.2s, outline 0.12s;
            cursor: pointer;
        }

        input:checked+.swatch-variant {
            outline: white 4px solid;
            box-shadow: 0 0 0 6px gray;
        }

        .carousel-product:not(.is-fullscreen) .flickity-button.previous,
        .carousel-product:not(.is-fullscreen) .flickity-button.next {
            display: none;
        }

        .carousel-nav .carousel-cell {
            margin-right: 10px;
            width: 20%;
            aspect-ratio: 1/1;
        }

        .carousel-nav .flickity-button,
        .carousel-nav .flickity-page-dots {
            display: none;
        }

        .carousel-cell.is-nav-selected {
            border: 2px solid gray;
        }

        .text-variant {
            padding: 12px;
            border: 0.75px solid #484f46;
            color: #484f46;
            font-size: 12px;
            text-align: center;
            letter-spacing: 1px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
        }

        input:checked+.text-variant {
            background-color: #484f46;
            color: white;
        }

        .size-guide-modal .tingle-modal-box__content {
            padding: 0;
        }

        .size-guide-modal .tingle-modal-box__footer {
            padding: 0 18px 32px;
            background-color: white;
        }

        .size-guide-modal .tingle-modal__close {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            color: black;
            border-bottom: 1px solid #e5e5e5;
        }

        .size-guide-modal .tingle-modal__closeLabel {
            font-size: 22px;
        }

        
        .size-guide-modal .tingle-modal__closeIcon {
            width: 12px;
            position: absolute;
            left: 18px;
            margin: 0;
        }

        .size-table th, .size-table td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .size-table .lbdr {
            border-left: 1px solid #ddd;
        }

        @media (min-width: 540px) {
            .tingle-modal__close {
                border-radius: 4px;
            }

            .tingle-modal__closeIcon {
                position: static !important;
            }
        }

        @media (min-width: 990px) {
            .carousel-product .carousel-cell {
                width: 100%;
            }

            .carousel-product .flickity-page-dots {
                display: none;
            }

            .carousel-product.is-fullscreen .carousel-cell {
                width: 60%;
                margin-right: 20px;
            }
        }

        @media (min-width: 1280px) {
            .carousel-product.is-fullscreen .carousel-cell {
                width: 60%;
                margin-right: 20px;
            }
        }

        @media (min-width: 1440px) {
            .carousel-product.is-fullscreen .carousel-cell {
                width: 40%;
                margin-right: 20px;
            }
        }
    </style>

    <script>
        $(window).on('load', function () {
            setCarouselProduct();
            setCarouselNav();
            setSwatchSub();
            setSizeGuide();
            setQuantity();
            sizeGuideModal();
            applyCollapse('.collapse.product-details');
        });

        function applyCollapse(groupClass) {
            $(groupClass).on('click', function () {
                function toggleCollapse(element, shouldOpen) {
                    const checkbox = element.find('input[type="checkbox"]');
                    const content = element.find('.collapse-content');
                    const sign = element.find('.collapse-sign').children().first();

                    checkbox.prop('checked', shouldOpen);
                    sign.css('transform', shouldOpen ? 'rotate(90deg)' : 'rotate(0deg)');
                    content.css({
                        height: shouldOpen ? content.prop('scrollHeight') + 'px' : '0px'
                    });
                }

                $(groupClass).each(function () {
                    if (this !== event.currentTarget) {
                        toggleCollapse($(this), false);
                    }
                });

                const isChecked = $(this).find('input[type="checkbox"]').prop('checked');
                toggleCollapse($(this), !isChecked);
            });
        }

        function setCarouselNav() {
            $('.carousel-nav').flickity({
                asNavFor: '.carousel-product',
                contain: true,
                pageDots: false,
                prevNextButtons: false
            });
        }

        function setSwatchSub() {
            let swatches = $('[name="variant-swatch"]');

            swatches.on('change', function () {
                let value = $(this).data('self');
                let sub = $('.sub');
                sub.text(value);
            });
        }

        function setSizeGuide() {
            let sizes = $('[name="variant-size"]');

            sizes.on('change', function () {
                let value = $(this).data('self');
                let sub = $('.size-group .sub');
                sub.text(value);
            });
        }

        function setQuantity() {
            $('#increase').click(function () {
                let quantity = parseInt($('#quantity').val());
                $('#quantity').val(quantity + 1);
                $('#decrease').find('i').removeAttr('disabled');
            });

            $('#decrease').click(function () {
                let quantity = parseInt($('#quantity').val());
                if (quantity > 1) {
                    $('#quantity').val(quantity - 1);
                }

                if (quantity == 2) {
                    $('#decrease').find('i').attr('disabled', true);
                }
            });
        }

        function setCarouselProduct() {
            let $carousel = $('.carousel-product').flickity({
                // options
                contain: true,
                fullscreen: true,
            });

            // on click of the carousel-f-button, add class 'is-fullscreen' to the .carousel
            $('.carousel-f-button').on('click', function () {
                // get the index of the clicked carousel-cell
                $carousel.flickity('viewFullscreen');
                let index = $(this).closest('.carousel-cell').index();
                $carousel.flickity('select', index);
            });

            $carousel.on('fullscreenChange.flickity', function (event, isFullscreen) {
                // contain: false when in fullscreen
                $('.carousel-product').flickity({
                    contain: !isFullscreen,
                    fullscreen: true,
                    prevNextButtons: false
                });

                $(".shopify-section-group-header-group").css("z-index", isFullscreen ? "0" : "4");
            });

            $carousel.on('change.flickity', function (event, index) {
                $('.carousel-nav').flickity('select', index);
                $('.carousel-nav').find('.carousel-cell').removeClass('is-nav-selected');
                $('.carousel-nav').find('.carousel-cell').eq(index).addClass('is-nav-selected');
            });
        }

        function sizeGuideModal() {
            var modal = new tingle.modal({
                footer: true,
                stickyFooter: false,
                closeMethods: ['overlay', 'button', 'escape'],
                closeLabel: "Size guide",
                cssClass: ['size-guide-modal'],
            });

            modal.setContent(`
                <div class="x-text-[14px] x-px-[18px] x-leading-[24px]">
                    <div class="x-py-[32px] x-border-b-[1px] x-border-[#484f46]">
                        <div class="x-font-semibold">How to choose size</div>
                        <div class="x-py-[16px]">
                            <div>When deciding what size to buy we recommend that you measure your current bed/mattress/duvet to find what size would be suitable for you.</div>
                            <div>If you don&apos;t have a duvet to measure we suggest that you see what the available measurements are in your country.</div>
                        </div>
                    </div>
                    <div class="x-py-[32px] x-border-b-[1px] x-border-[#484f46]">
                        <div class="x-font-semibold">Measurements</div>
                        <div class="x-py-[16px]">These are the measurements of the selected product, please note that some sizes may be unavailable for specific colours and patterns.</div>
                        <div>
                            <table class="size-table x-text-center x-w-full">
                                <th class="x-border-none">
                                    <tr>
                                        <td></td>
                                        <td class="lbdr">50/56</td>
                                        <td class="lbdr">62/68</td>
                                        <td class="lbdr">74/80</td>
                                        <td class="lbdr">86/92</td>
                                    </tr>
                                </th>
                                <tbody>
                                    <tr>
                                        <td>Ages</td>
                                        <td class="lbdr">0-2m</td>
                                        <td class="lbdr">2-6m</td>
                                        <td class="lbdr">6-12m</td>
                                        <td class="lbdr">1-2y</td>
                                    </tr>
                                    <tr>
                                        <td>(A) Length cm</td>
                                        <td class="lbdr">56</td>
                                        <td class="lbdr">68</td>
                                        <td class="lbdr">80</td>
                                        <td class="lbdr">92</td>
                                    </tr>
                                    <tr>
                                        <td>(B) Chest cm</td>
                                        <td class="lbdr">38.5</td>
                                        <td class="lbdr">45.5</td>
                                        <td class="lbdr">49.5</td>
                                        <td class="lbdr">52.5</td>
                                    </tr>
                                    <tr>
                                        <td>(C) Waist cm</td>
                                        <td class="lbdr">35.8</td>
                                        <td class="lbdr">45</td>
                                        <td class="lbdr">48.75</td>
                                        <td class="lbdr">50.5</td>
                                    </tr>
                                    <tr>
                                        <td>(D) Seat cm</td>
                                        <td class="lbdr">37</td>
                                        <td class="lbdr">44.75</td>
                                        <td class="lbdr">50</td>
                                        <td class="lbdr">53</td>
                                    </tr>
                                    <tr>
                                        <td class="x-border-b-[0px]">(E) Inside leg cm</td>
                                        <td class="lbdr x-border-b-[0px]">19.25</td>
                                        <td class="lbdr x-border-b-[0px]">24.25</td>
                                        <td class="lbdr x-border-b-[0px]">31.25</td>
                                        <td class="lbdr x-border-b-[0px]">38</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="x-py-[32px] x-border-b-[1px] x-border-[#484f46]">
                        <div class="x-font-semibold">Regional standards</div>
                        <div class="x-py-[16px]">
                            In order to make it easier for you, some Milk-Denmark items have sizes marked with a country code. These are only suggestions.
                        </div>
                    </div>
                    <div class="x-py-[32px]">
                        <div class="x-font-semibold">General size guide</div>
                        <div class="x-py-[16px]">
                            We have a general size guide where all available product sizes are listed. Please check it out to see if the size you are looking for is available.
                        </div>
                        <a>
                            <div class="x-text-[12px] x-py-[12px] x-px-[18px] x-border-[1px] x-border-[#484f46] x-text-[#484f46] hover:x-text-white hover:x-bg-[#484f46] x-transition-colors x-duration-300 x-inline-block">
                                SIZE GUIDE
                            </div>
                        </a>
                    </div>
                </div>
            `);

            $('.size-guide-btn').on('click', function () {
                modal.open();
            });
        }
    </script>