{% assign test_product = all_products['acorn-footies'] %}

<div>
    <div class="x-max-w-[1280px] x-mx-auto">
        <div class="x-text-center x-py-[20px] x-mt-[20px]">Bloomers</div>
        <div class="x-flex x-flex-col x-gap-[24px] x-p-[20px]">
            <div class="x-flex x-flex-col md:x-flex-row x-gap-[20px]">
                <div class="md:x-flex md:x-flex-col x-grid x-grid-cols-2 x-gap-[16px] x-sticky x-top-[20px] x-z-[2] md:x-w-1/3">
                    <div class="md:x-hidden">
                        <div>
                            <button type="button" class="drawer-open x-p-[12px] x-border x-text-center x-w-full x-bg-white">
                                filter
                            </button>
                            <nav class="drawer-nav x-bg-white" role="navigation">
                                <div class="drawer-menu x-py-[20px]">
                                    <div class="x-flex x-flex-row x-justify-between x-items-center x-p-[20px] x-w-full">
                                        <div>
                                            filters
                                        </div>
                                        <button type="button" class="drawer-close x-p-[8px] x-z-50">
                                            <i class='bx bx-x'></i>
                                        </button>
                                    </div>
                                    <div class="collapsable-filter x-border-t-[1px] x-border-gray-700">
                                        <button class="collapse-trigger x-flex x-flex-row x-justify-between x-items-center x-p-[20px] x-w-full">
                                            <div>category</div>
                                            <div class="x-flex x-items-center x-justify-center x-p-[8px] ">
                                                <i class='bx bx-chevron-up'></i>
                                            </div>
                                        </button>
                                        <div class="collapse-content x-flex x-flex-col x-gap-[8px] x-px-[20px] x-overflow-y-hidden x-transition-all x-duration-300 x-ease-in-out" style="height: 0px;">
                                            <div class="x-flex x-items-center x-gap-[4px]">
                                                <input type="checkbox" name="" id=""><div>choice</div>
                                            </div>
                                            <div class="x-flex x-items-center x-gap-[4px]">
                                                <input type="checkbox" name="" id=""><div>choice</div>
                                            </div>
                                            <div class="x-flex x-items-center x-gap-[4px]">
                                                <input type="checkbox" name="" id=""><div>choice</div>
                                            </div>
                                        </div>
            
                                    </div>
                                    <div class="collapsable-filter x-border-t-[1px] x-border-gray-700">
                                        <button class="collapse-trigger x-flex x-flex-row x-justify-between x-items-center x-p-[20px] x-w-full">
                                            <div>category</div>
                                            <div class="x-flex x-items-center x-justify-center x-p-[8px] ">
                                                <i class='bx bx-chevron-up'></i>
                                            </div>
                                        </button>
                                        <div class="collapse-content x-flex x-flex-col x-gap-[8px] x-px-[20px] x-overflow-y-hidden x-transition-all x-duration-300 x-ease-in-out" style="height: 0px;">
                                            <div class="x-flex x-items-center x-gap-[4px]">
                                                <input type="checkbox" name="" id=""><div>choice</div>
                                            </div>
                                            <div class="x-flex x-items-center x-gap-[4px]">
                                                <input type="checkbox" name="" id=""><div>choice</div>
                                            </div>
                                            <div class="x-flex x-items-center x-gap-[4px]">
                                                <input type="checkbox" name="" id=""><div>choice</div>
                                            </div>
                                        </div>
            
                                    </div>
                                    <div class="collapsable-filter x-border-t-[1px] x-border-gray-700">
                                        <button class="collapse-trigger x-flex x-flex-row x-justify-between x-items-center x-p-[20px] x-w-full">
                                            <div>category</div>
                                            <div class="x-flex x-items-center x-justify-center x-p-[8px] ">
                                                <i class='bx bx-chevron-up'></i>
                                            </div>
                                        </button>
                                        <div class="collapse-content x-flex x-flex-col x-gap-[8px] x-px-[20px] x-overflow-y-hidden x-transition-all x-duration-300 x-ease-in-out" style="height: 0px;">
                                            <div class="x-flex x-items-center x-gap-[4px]">
                                                <input type="checkbox" name="" id=""><div>choice</div>
                                            </div>
                                            <div class="x-flex x-items-center x-gap-[4px]">
                                                <input type="checkbox" name="" id=""><div>choice</div>
                                            </div>
                                            <div class="x-flex x-items-center x-gap-[4px]">
                                                <input type="checkbox" name="" id=""><div>choice</div>
                                            </div>
                                        </div>
            
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="x-p-[12px] x-border x-text-center md:x-text-start x-bg-white">
                        sort
                    </div>
                    <div class="x-hidden md:x-block">
                        <div class="x-hidden md:x-block x-p-[12px] x-border x-bg-white">
                            filters
                        </div>
                        <div>
                            <div class="collapsable-filter x-border x-border-t-0">
                                <button class="collapse-trigger x-flex x-flex-row x-justify-between x-items-center x-p-[12px] x-w-full">
                                    <div>category</div>
                                    <div class="x-flex x-items-center x-justify-center">
                                        <i class='bx bx-chevron-up'></i>
                                    </div>
                                </button>
                                <div class="collapse-content x-flex x-flex-col x-gap-[8px] x-px-[12px] x-overflow-y-hidden x-transition-all x-duration-300 x-ease-in-out" style="height: 0px;">
                                    <div class="x-flex x-items-center x-gap-[4px]">
                                        <input type="checkbox" name="" id=""><div>choice</div>
                                    </div>
                                    <div class="x-flex x-items-center x-gap-[4px]">
                                        <input type="checkbox" name="" id=""><div>choice</div>
                                    </div>
                                    <div class="x-flex x-items-center x-gap-[4px]">
                                        <input type="checkbox" name="" id=""><div>choice</div>
                                    </div>
                                </div>
    
                            </div>
                            <div class="collapsable-filter x-border x-border-t-0">
                                <button class="collapse-trigger x-flex x-flex-row x-justify-between x-items-center x-p-[12px] x-w-full">
                                    <div>category</div>
                                    <div class="x-flex x-items-center x-justify-center">
                                        <i class='bx bx-chevron-up'></i>
                                    </div>
                                </button>
                                <div class="collapse-content x-flex x-flex-col x-gap-[8px] x-px-[12px] x-overflow-y-hidden x-transition-all x-duration-300 x-ease-in-out" style="height: 0px;">
                                    <div class="x-flex x-items-center x-gap-[4px]">
                                        <input type="checkbox" name="" id=""><div>choice</div>
                                    </div>
                                    <div class="x-flex x-items-center x-gap-[4px]">
                                        <input type="checkbox" name="" id=""><div>choice</div>
                                    </div>
                                    <div class="x-flex x-items-center x-gap-[4px]">
                                        <input type="checkbox" name="" id=""><div>choice</div>
                                    </div>
                                </div>
    
                            </div>
                            <div class="collapsable-filter x-border x-border-t-0">
                                <button class="collapse-trigger x-flex x-flex-row x-justify-between x-items-center x-p-[12px] x-w-full">
                                    <div>category</div>
                                    <div class="x-flex x-items-center x-justify-center">
                                        <i class='bx bx-chevron-up'></i>
                                    </div>
                                </button>
                                <div class="collapse-content x-flex x-flex-col x-gap-[8px] x-px-[12px] x-overflow-y-hidden x-transition-all x-duration-300 x-ease-in-out" style="height: 0px;">
                                    <div class="x-flex x-items-center x-gap-[4px]">
                                        <input type="checkbox" name="" id=""><div>choice</div>
                                    </div>
                                    <div class="x-flex x-items-center x-gap-[4px]">
                                        <input type="checkbox" name="" id=""><div>choice</div>
                                    </div>
                                    <div class="x-flex x-items-center x-gap-[4px]">
                                        <input type="checkbox" name="" id=""><div>choice</div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x-grid x-grid-cols-2 md:x-grid-cols-3 x-gap-[16px] md:x-w-full">
                    {% for current_product in collection.products %}
                        <div class="x-w-full x-border-gray-100 x-border-[1px]">
                            <a href="{{ current_product.url }}" class="x-w-full x-aspect-square">
                                <img class="hover:x-scale-105 x-transition-all x-duration-500 x-ease-in-out" src="{{ current_product.featured_image.src |  image_url: width: 400  }}" alt="{{ test_product.featured_image.alt }}">
                            </a>
                            <div class="x-text-center x-py-[8px] x-flex x-flex-col x-gap-[4px] x-bg-gray-100">
                                <a href="{{ current_product.url }}">{{ current_product.title }}</a>
                                {% if customer %}
                                    <a href="{{ current_product.url }}">{{ current_product.price | money_with_currency }}</a>
                                {% else %}
                                    <a href="{{ routes.account_login_url }}" class="x-text-[14px] x-text-red-600 x-font-normal hover:x-underline">Login for Price</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .drawer-nav {
        position: fixed;
        z-index: 9999;
        width: 100%;
    }

    .header-container {
        z-index: 1;
    }

    .drawer--left .drawer-nav {
        left: -100%;
    }

    #menu-drawer {
        z-index: 999;
    }
</style>

<script>

    $(document).ready(function() {
        $('.drawer').drawer();

        let test;

        $('.drawer-close').click(function() {
            $('.drawer').drawer('close');
            test = setTimeout(() => {
                $('.shopify-section-group-header-group').css('z-index', '4');
            }, 600);
        });

        $('.drawer-open').click(function() {
            $('.drawer').drawer('open');
            clearTimeout(test);
            $('.shopify-section-group-header-group').css('z-index', '0');
        });
    });

    $(".collapsable-filter").find(".collapse-trigger").click(function() {
        let content = $(this).next();
        let height = content[0].scrollHeight;

        let icon = $(this).find("i");

        if (content.height() == 0) {
            content.css("height", (content[0].scrollHeight + 12) + "px");
            icon.removeClass("bx-chevron-up").addClass("bx-chevron-down");
        } else {
            content.css("height", "0px");
            icon.removeClass("bx-chevron-down").addClass("bx-chevron-up");
        }
    });

</script>