{% comment %} mobile-view {% endcomment %}
<footer class="x-bg-[#445442] x-text-[#F6F0E4] x-flex x-flex-col x-gap-[64px] x-py-[64px] x-px-[24px] md:x-hidden">
    <div>{% render 'logo-milk-footer' %}</div>
    <div class="x-flex x-flex-col x-gap-[32px]">
        <div class="x-flex x-flex-row x-gap-[40px]">
            <div class="x-flex x-flex-col x-gap-[16px] x-w-[106px]">
                <h1 class="x-text-[20px] x-font-medium x-font-causten x-leading-[24px] x-text-[#F6F0E4]">SHOP</h1>
                {% for link in linklists['footer-shop'].links %}
                    <a
                        href='{{ link.url }}'
                        class='x-text-[18px] x-font-semibold x-leading-[24px] x-font-nanum x-tracking-[0px]'>
                        {{ link.title }}
                    </a>
                {% endfor %}
            </div>
            <div class="x-flex x-flex-col x-gap-[16px]">
                <h1 class="x-text-[20px] x-font-medium x-font-causten x-leading-[24px] x-text-[#F6F0E4]">USERS</h1>
                {% for link in linklists['footer-users'].links %}
					<a
						href='{{ link.url }}'
						class='x-text-[18px] x-font-semibold x-leading-[24px] x-font-nanum x-tracking-[0px]'>
						{{ link.title }}
					</a>
				{% endfor %}
            </div>
        </div>
        <div class="x-flex x-flex-row x-gap-[40px]">
            <div class="x-flex x-flex-col x-gap-[16px] x-w-[106px]">
                <h1 class="x-text-[20px] x-font-medium x-font-causten x-leading-[24px] x-text-[#F6F0E4]">COMPANY</h1>
                {% for link in linklists['footer-company'].links %}
					<a
						href='{{ link.url }}'
						class='x-text-[18px] x-font-semibold x-leading-[24px] x-font-nanum x-tracking-[0px]'>
						{{ link.title }}
					</a>
				{% endfor %}

				{% assign terms = linklists.footer.links.first %}
				<a
					href='{{ terms.url }}'
					class='x-text-[18px] x-font-semibold x-leading-[24px] x-font-nanum x-tracking-[0px]'>
					{{ terms.title }}
				</a>
            </div>
            <div class="x-flex x-flex-col x-gap-[16px] x-justify-end">
                {% for link in linklists.footer.links %}
					{% if link.title != 'Terms' %}
						<a
							href='{{ link.url }}'
							class='x-text-[18px] x-font-semibold x-leading-[24px] x-font-nanum x-tracking-[0px]'>
							{{ link.title }}
						</a>
					{% endif %}
				{% endfor %}

				<a
					href='/'
                    class="x-flex x-flex-row x-items-center">
					<i class='bx bxl-instagram x-text-[24px]'></i>
				</a>
            </div>
        </div>
        <div class="x-bg-[#F6F0E4] x-h-[1px] x-w-full">
        </div>
        <div class="x-font-semibold x-leading-[24px] x-font-nanum">
            © 2024 Milk DENMARK.<br>
            All rights reserved.
        </div>
    </div>
</footer>

{% comment %} desktop-view {% endcomment %}
<footer class="x-bg-[#445442] x-text-[#F6F0E4]">
    <div class="x-hidden x-flex-row md:x-flex x-justify-between lg:x-pt-[80px] lg:x-pb-[104px] lg:x-px-[104px] md:x-px-[24px] md:x-py-[64px] md:x-pb-[104px] x-max-w-[1440px] x-mx-auto">
        <div class="x-flex x-flex-col x-gap-[32px]">
            <div>{% render 'logo-milk-footer' %}</div>
            <div class="x-flex x-flex-col x-gap-[16px]">
                <div class="x-text-[14px] x-leading-[20px] x-font-nanum">
                    © 2024 Milk DENMARK. <br class="lg:x-hidden">All rights reserved.
                </div>
                <div class="x-flex x-flex-row x-gap-[16px] x-text-[14px] x-leading-[20px] x-font-nanum">
                    {% for link in linklists.footer.links %}
                        <a href='{{ link.url }}'>
                            {{- link.title -}}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="x-flex x-flex-row x-gap-[80px]">
            <div class="x-flex x-flex-col x-gap-[16px]">
                <h1 class="x-font-causten x-leading-[24px] x-text-[#F6F0E4]">SHOP</h1>
                <div class="x-flex x-flex-col x-gap-[8px] x-font-nanum x-tracking-[0px]">
                    {% for link in linklists['footer-shop'].links %}
                        <a href='{{ link.url }}'>
                            {{- link.title -}}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="x-flex x-flex-col x-gap-[16px]">
                <h1 class="x-font-causten x-leading-[24px] x-text-[#F6F0E4]">USERS</h1>
                <div class="x-flex x-flex-col x-gap-[8px] x-font-nanum x-tracking-[0px]">
                    {% for link in linklists['footer-users'].links %}
                        <a href='{{ link.url }}'>
                            {{- link.title -}}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="x-flex x-flex-col x-gap-[16px]">
                <h1 class="x-font-causten x-leading-[24px] x-text-[#F6F0E4]">COMPANY</h1>
                <div class="x-flex x-flex-col x-gap-[8px] x-font-nanum x-tracking-[0px]">
                    {% for link in linklists['footer-company'].links %}
                        <a href='{{ link.url }}'>
                            {{- link.title -}}
                        </a>
                    {% endfor %}
                    <a
                        href='/'
                        class="x-flex x-flex-row x-items-center">
                        <i class='bx bxl-instagram x-text-[24px]'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
